<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>

<form method="post"  >
    Name:<input type="text" name="name" th:value="${customers.getName()}">
    Province:
    <select name="province" >
        <option th:each="pro : ${provincess}" th:value="${pro.getId}" th:text="${pro.getName}"></option>
    </select>
    <br/>
    <button>Edit</button>
</form>


<footer th:replace="/layout :: footer"></footer>
</body>
</html>